---
import BorderedPicture from "./BorderedPicture.astro";
import theoCamera from "../../assets/images/theo-in-action-white.webp";
import theoProfile from "../../assets/images/theo-profile.webp";
---
<div class="relative w-full min-h-full mt-12 lg:mt-0">
  <div
    class="absolute top-1/2 left-1/2 lg:top-[60%] lg:left-[65%] -translate-x-1/2 -translate-y-1/2 bg-primary blur-[250px] h-[350px] aspect-square rounded-full"
  >
  </div>
  <div class="absolute top-0 right-0 w-72">
    <BorderedPicture
      dir="tl"
      src={theoProfile}
      alt="Thrive Media Solutions hebt sich durch seine makellosen Film- und Videoproduktionen hervor. Die Expertise des Unternehmens reicht von kreativen Ideenkonzeptionen bis hin zur atemberaubenden Umsetzung. Hier werden Geschichten mit beeindruckender Lebendigkeit erzählt, wobei jedes Detail, sei es die Inszenierung, die Kamerawinkel oder der Schnitt, sorgfältig bedacht wird. Mit einem Team von erfahrenen Videografen und Editoren ist die Qualität der Produktionen stets auf höchstem Niveau."
      title="Thrive Media Solutions Osnabrück Videoproduktion in Action"
      widths={[200, 400, 800, theoProfile.width]}
      width={theoProfile.width}
      height={theoProfile.height}
      sizes="(max-width: 800px) 100vw, 800px"
    />
  </div>
  <div class="absolute right-64 top-40 w-60">
    <BorderedPicture
      dir="br"
      src={theoCamera}
      alt="Die Kamera ist das Herzstück der Thrive Media Solutions Produktionen. Hier wird die Magie geschaffen, die den Zuschauer in eine fesselnde Welt eintauchen lässt. Das Unternehmen setzt auf hochmoderne Kameratechnik, die es ermöglicht, jedes Detail in beeindruckender Klarheit festzuhalten. Egal ob es sich um atemberaubende Landschaftsaufnahmen, emotionale Nahaufnahmen oder dynamische Action-Szenen handelt, die Kameraführung von Thrive Media Solutions setzt stets neue Maßstäbe."
      title="Videograph dreht in professionellem Studio in Osnabrück"
      widths={[200, 400, 800, theoCamera.width]}
      width={theoCamera.width}
      height={theoCamera.height}
      sizes="(max-width: 800px) 100vw, 800px"
    />
  </div>
  <div class="absolute bottom-4 right-4 text-right">
    <h3 class="text-primary text-lg leading-5 font-header tracking-wide">Theo Schneidereit</h3>
    <span class="text-white/80">(Creative Lead)</span>
  </div>
  <div class="h-[520px]"></div>
</div>
