---
import { Image } from "astro:assets";
const { dir, src, title, alt, widths, sizes, width, height } = Astro.props;
---

<!-- TODO: on hover border genau um image -->
<div class="relative h-full w-full">
  <div
    class:list={{
      "border-2 border-primary border-solid absolute h-full w-full rounded-xl transition-all duration-300 ease-out": true,
      "-top-3 -left-3": dir === "tl",
      "top-3 left-3": dir === "br",
    }}
  >
  </div>
  <Image
    class="w-full relative mx-auto overflow-hidden drop-shadow-2xl rounded-xl group-hover:scale-110 transition-transform duration-300 ease-out"
    src={src}
    alt={alt}
    title={title}
    sizes={sizes}
    width={width}
    height={height}
  />
</div>
